In [44]:
import pandas as pd
import xml.etree.ElementTree as ET
import glob

In [47]:
csvfiles=glob.glob("*.csv")
jsonfiles=glob.glob("*.json")
xmlfiles=glob.glob("*.xml")

In [89]:
df_list=[]
for csv in csvfiles:
    df_csv=pd.read_csv(csv,delimiter=',')
    df_list.append(df_csv)
for json in jsonfiles:
    df_json=pd.read_json(json, lines = True)
    df_list.append(df_json)
for xml in xmlfiles:
    tree=ET.parse(xml)
    root=tree.getroot()
    data=[]
    for person in root.findall("person"):
        name = person.find("name").text
        height = person.find("height").text
        weight = person.find("weight").text
        data.append({"name" : name, "height" : height, "weight" : weight})
    df_xml=pd.DataFrame(data)
    df_list.append(df_xml)
    
final_df = pd.concat(df_list, ignore_index=True)

In [94]:
type(final_df)

pandas.core.frame.DataFrame

In [100]:
final_df['height'] = pd.to_numeric(final_df['height'],errors='coerce')

In [101]:
final_df['height'] = final_df['height'] * .0254

In [102]:
final_df

     name    height  weight
0    alex  1.670812  112.99
1    ajay  1.816608  136.49
2   alice  1.762760  153.03
3    ravi  1.732788  142.34
4     joe  1.721866   144.3
5    alex  1.670812  112.99
6    ajay  1.816608  136.49
7   alice  1.762760  153.03
8    ravi  1.732788  142.34
9     joe  1.721866   144.3
10   alex  1.670812  112.99
11   ajay  1.816608  136.49
12  alice  1.762760  153.03
13   ravi  1.732788  142.34
14    joe  1.721866   144.3
15   jack  1.744980   123.3
16    tom  1.772920  141.49
17  tracy  1.778254  136.46
18   john  1.724660  112.37
19   jack  1.744980   123.3
20    tom  1.772920  141.49
21  tracy  1.778254  136.46
22   john  1.724660  112.37
23   jack  1.744980   123.3
24    tom  1.772920  141.49
25  tracy  1.778254  136.46
26   john  1.724660  112.37
27  simon  1.724660  112.37
28  jacob  1.696212  120.67
29  cindy  1.688846  127.45
30   ivan  1.717548  114.14
31  simon  1.724660  112.37
32  jacob  1.696212  120.67
33  cindy  1.688846  127.45
34   ivan  1.717548  114.14
35  simon  1.724660  112.37
36  jacob  1.696212  120.67
37  cindy  1.688846  127.45
38   ivan  1.717548  114.14